<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginLogoutUsingServletsAndMySql</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletOne_Login</display-name>
    <servlet-name>ServletOne_Login</servlet-name>
    <servlet-class>com.ServletOne_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOne_Login</servlet-name>
    <url-pattern>/ServletOne_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTwo_SuccessAndLogout</display-name>
    <servlet-name>ServletTwo_SuccessAndLogout</servlet-name>
    <servlet-class>com.ServletTwo_SuccessAndLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTwo_SuccessAndLogout</servlet-name>
    <url-pattern>/ServletTwo_SuccessAndLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s3</display-name>
    <servlet-name>s3</servlet-name>
    <servlet-class>com.s3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/s3</url-pattern>
  </servlet-mapping>
</web-app>